<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Spring Boot: 404</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div>
    <h1 style="text-align: center; font-size: 40px; font-weight: bold; color: #ce8483">Not found</h1>
    <p style="text-align: center; font-size: 18px;">This page is not available</p>
    <p style="text-align: center;font-size: 12px;"><a th:href="@{/}">Home</a></p>
</div>
</body>
</html>